/* Your custom styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.logo-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.display-name {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2D3C49;
  font-size: 6em;
}

.job-title {
  color: #2D3C49;
}

.featured-work {
    color: #7D97AD;
    font-size: 3em;
    margin-left: 16px;
}

#portfolio-image {
	background-color: #92a8d1; 
  display: flex;
}

#portfolio-image img {
	 display: flex;
}
