/* The custom styles used in the project*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  border: none;
  height: 3px;
  color: #7D97AD; /* old IE */
  background-color: #7D97AD; /* Modern Browsers */
}

.logo-image {
  height: 100%;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-name {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2d3c49;
  font-size: 6em;
}

.card-img {
  display: flex;
  max-height: 192px;
}

.job-title {
  color: #2d3c49;
}

.header-title {
  text-align : right;
}

.featured-work {
    color: #7d97ad;
    font-size: 3em;
    margin-left: 16px;
}

@media screen and (max-width: 580px){
  .logo-container {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .header-title {
    text-align: center;
  }
}
